# Python
logs
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
env/
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
*.egg-info/
.installed.cfg
*.egg
logs
mlflow
venv310

frontend/node_modules/

# Virtual Environment
venv310/
venv/
mlops_env/
ENV/
myenv/

myenv/
frontend/node_modules/

# Jupyter Notebook
.ipynb_checkpoints

# MLflow
mlruns/
mlflow/

# DVC
.dvc/cache
/data/raw/
/data/processed/
/data/features/

# IDE
.idea/
.vscode/
*.swp
*.swo

# OS specific
.DS_Store
.DS_Store?
._*
.Spotlight-V100
.Trashes
ehthumbs.db
Thumbs.db
.venv/
mlartifacts/
data/





# Logs
frontend/logs
frontend/*.log
frontend/npm-debug.log*
frontend/yarn-debug.log*
frontend/yarn-error.log*
frontend/pnpm-debug.log*
frontend/lerna-debug.log*
frontend/node_modules
frontend/dist
frontend/dist-ssr
frontend/*.local
frontend/# Editor directories and files
frontend/.vscode/*
frontend/!.vscode/extensions.json
frontend/.idea
frontend/.DS_Store
frontend/*.suo
frontend/*.ntvs*
frontend/*.njsproj
frontend/*.sln
frontend/.vite/
frontend/*.sw?
