dvc
apache-airflow==3.0.0
requests
pandas==2.1.4
numpy
scikit-learn
matplotlib
python-dotenv
mlflow==2.22.0
seaborn
jupyterlab
pyyaml
pylint
pytest
black
psycopg2-binary
cloudpickle==3.1.1
scipy==1.15.2